.Box {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 30px;


    line-height: 8rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;

}

.day{
    background-color: #fbfbfa;
    color: #12192b;
}

.night{
    color: #fbfbfa;
    background-color: #12192b;
}
