.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: auto / auto auto;
  justify-items: center;
  align-content: center;
  grid-gap: 1rem;
  grid-auto-flow: column;

  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}
